.festival__about {
	padding: $separacion 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: $separacion;

	@include tablet {
		@include gridTemplate(2, $separacion);
	}

	.festival__contenido {
		justify-content: center;

		@include telefono {
			h2 {
				margin-top: $separacion;
			}
		}

		h2 {
			font-size: 3rem;
		}

		.fecha {
			color: $rosa;
			font-weight: bold;
		}

		.texto {
			line-height: 1.5;
		}
	}
}
