.header {
	background-color: $color-navbar;

	.header__contenido {
		padding: $separacion - 2 0;
		text-shadow: $sombraTitulo1;

		@include telefono {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	h1 {
		color: $blanco;
		text-align: center;
	}

	//selecciona clase header y clase fijo
	&.fijo {
		position: fixed;
		width: 100%;
	}

	.header__navegacion-principal {
		display: flex;
		justify-content: center;
		align-items: center;

		a {
			color: $blanco;
			font-size: 2rem;
			text-align: center;
			text-shadow: $sombraTitulo2;
			margin-right: 1.5rem;
			margin-left: 1.5rem;

			@include miniTelefono {
				padding-top: $separacion - 3.5;
			}

			&:hover {
				color: $amarillo;
			}
		}
	}
}
